In [3]:
from urllib.request import urlopen
import json

with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/fips-unemp-16.csv",
                   dtype={"fips": str})

import plotly.express as px

fig = px.choropleth_mapbox(df, geojson=counties, locations='fips', color='unemp',
                           color_continuous_scale="Viridis",
                           range_color=(0, 12),
                           mapbox_style="carto-positron",
                           zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
                           opacity=0.5,
                           labels={'unemp':'unemployment rate'}
                          )

fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

fig.write_html('index.html')

In [4]:
df

       fips  unemp
0     01001    5.3
1     01003    5.4
2     01005    8.6
3     01007    6.6
4     01009    5.5
...     ...    ...
3214  72145   13.9
3215  72147   10.6
3216  72149   20.2
3217  72151   16.9
3218  72153   18.8

[3219 rows x 2 columns]